body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: auto;
}

.modal {
  top: auto;
  left: auto;
  overflow: initial;
}

.map-container {
  background-color: white;
  border-radius: 5px;
  .leaflet-container {
    height: 400px;
    width: 100%;
  }
}

$break-small: 576px;
@media screen and (min-width: $break-small) {
  .pusher {
    transform: none;
    transition: margin .5s ease !important;
    margin-left: 0;
    .ui.inverted.top.fixed.menu {
      left: 0;
      transition: left .5s ease;
    }
  }

  .ui.visible.left.sidebar~.pusher {
    margin-left: 260px;
    transform: none;
    transition: margin .5s ease;
    .ui.inverted.top.fixed.menu {
      left: 260px;
      right: 0;
      width: auto;
      transition: left .5s ease;
    }
  }
}